ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
  min-height: 64px;
  margin-bottom: 16px;
}

ion-spinner {
  margin-left: 8px;
}
